# Base de datos
DATABASE_URL="postgresql://root:rootpassword@localhost:5432/adapta_class"

# Auth
JWT_SECRET="cambiar-por-una-clave-muy-larga-y-aleatoria"
JWT_EXPIRES_IN="7d"

# IA
OPENAI_API_KEY="sk-..."
OPENAI_MODEL="gpt-4o-mini"

# App
PORT=3000
NODE_ENV=development
